<!-- fragments/sidebar.html -->
<div th:fragment="sidebarA">
    <aside class="w-64 bg-[#1e293b] p-6 flex flex-col min-h-screen text-white">
        <div class="mb-10 text-center">
            <a th:href="@{/admin}">
                <img src="https://cdn-icons-png.freepik.com/256/10709/10709491.png" alt="Logo"
                    class="h-20 mx-auto mb-4">
            </a>
            <h1 class="text-2xl font-extrabold">CYBERSHOES</h1>
        </div>

        <nav class="flex-1">
            <ul class="space-y-4">
                <li>
                    <a th:href="@{/admin/usuario}"
                        class="flex items-center gap-3 px-4 py-2 rounded hover:bg-violet-600 transition font-semibold">
                        <i data-lucide="users" class="w-5 h-5"></i> Mantenimiento Usuarios
                    </a>
                </li>
                <!-- <li>
          <a th:href="@{/menuV/producto}"
            class="flex items-center gap-3 px-4 py-2 rounded hover:bg-violet-600 transition font-semibold">
            <i data-lucide="box" class="w-5 h-5"></i> Mantenimiento Productos
          </a>
        </li> -->
            </ul>
        </nav>

        <div class="mt-10">
            <form th:action="@{/login}" method="post">
                <button type="submit"
                    class="w-full flex items-center gap-3 px-4 py-2 bg-red-600 rounded hover:bg-red-700 transition font-semibold">
                    <i data-lucide="log-out" class="w-5 h-5"></i> Cerrar sesión
                </button>
            </form>
        </div>
    </aside>
</div>