<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Login</title>
</head>
<body>
    <form th:action="@{/login}" method="post">
        <h1>Login</h1>
        <label for="">Username</label> <br>
        <input type="text" id="username" name="username"><br>
        <label for="">Clave</label><br>
        <input type="text" id="clave" name="clave"><br>
        <button type="submit">Iniciar Sesion</button>
        <button type="reset">Limpiar</button>
    </form>
    
</body>
</html>